/* CONTAINS ALL MEDIA QUERIES */
.main-footer {
  
  background-color: $secondary-color;
  padding: 1.7em 2em;
  margin-bottom: 1px;

  .footer-header {
    display: flex;
    flex-flow: row wrap;
    color: white;
    justify-content: space-between;
    margin-bottom: 1.5em;

    .logos-container {
      display: flex;

      img {
        width : 25px;
        height: 25px;
        margin-left: 10px;

        &:hover {
          opacity: 0.75;
        }
      }
    }

    .slogan-footer {
      font-size: 1.1em;
      width: 52%;
      font-weight: 500;
      text-align: center;
    }

    .logo-ResilEyes {
     
      img {
        width: 200px;
        height: auto;
      }
    }
  }
}

.footer-list-items {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0 auto 3em;

  a {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 1em;
    font-weight: bold;
    color: white;
    text-decoration: none;

    &:hover {
      opacity: 0.75;
    }
  }
}

.footer-line {
  margin: 1.8em auto 1.8em;
  display: block;
  height: 1px;
  background-color: white;
  width: 100%;
}

.footer-list-confidentiality {
  margin: 0 auto 0.4em;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  font-size: 0.9em;

  a {
    display: block;
    margin-left: 7px;
    margin-right: 7px;
    color: white;
    text-decoration: none;
    
    &:hover {
      opacity: 0.75;
    }
  }
}

.copyright {
  color: white;
  text-align: center;
  font-size: 0.9em; 
  margin-bottom: 0em;
}


/* FOOTER MOBILE */

@media screen and (min-width:0px) and (max-width: 1024px) {
  
  .main-footer {
    padding: 1.5em;

    .footer-header {
      align-items: center;

      .logo-ResilEyes {
        order: 1;
      }

      .logos-container {
        order: 2;
      }

      .slogan-footer  {
        margin: 1.5em auto 0 auto;
        order: 3;
        width: 90%;
      }
    }
    .footer-list-items {
      padding: 0;
      width: 100%;
  
       
      a {
        margin-right: 10px;
        margin-left: 0px;
        font-size: 0.8em;
        font-weight: bold;
        color: white;
        text-decoration: none;
      }
    }
  }


}