.main-nav {
  padding: 0.8em 2em;
  max-width: 1440px;
  margin: auto;
}

.burger-nav, .small-nav-menu {
   display: none;
}
  
.items-list {
  width: 550px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
   display: flex;
   justify-content: space-between;
   align-items: center;
   color: $secondary-color;

  .language-choice {
     font-size: 1.05em;

     .selected-l-fr , .selected-l-en {
      color: #4cbdd1;
    }
  }

  a {
   color: $secondary-color;
   text-decoration: none;
   font-weight: 600;

  
     &:hover {
       color: #4cbdd1;
      }
    }
  }
 
  .main-nav-large {
    display: flex;
    justify-content: space-between;
  }

  .logo-container-nav {
    display: flex;
    align-items: center;
  }
  .nav-logo  {
    flex-flow: row;
    display: flex;
    font-weight: 600;
    color: $secondary-color;
    align-items: center;
    text-decoration: none;

    p {
      font-size: 1.4em;
      margin-bottom: 0;
      color: $secondary-color;
      font-weight: bold;
    }
   
    img {
      display: block;
      width: 50px;
      height: 50px;
      margin-right: 15px;
    }
}

  .language-choice {
    margin-right: 1em;
  }

  .l-fr, .l-en {
    &:hover {
      color: lighten($color: $secondary-color, $amount: 20);
    }
  }


  /* NAV MOBILE */


@media screen and(min-width:0) and (max-width:1024px){
  
  @keyframes menu-out {
    from {
      top: 0;
      bottom: 0;
      left: 0px;
    }

    to {
      top: 0;
      bottom: 0;
      left: -1020px;
     
    }
  }  


  @keyframes menu-in {
    from {
      top: 0;
      bottom: 0;
      left: -1020px;
    }

    to {
      top: 0;
      bottom: 0;
      left: 0px;
      
    }
  }  

  /* HIDE LARGE NAV */
  .main-nav-large {
    display: none;
   }

   /* NAV MOBILE START */

  .main-nav {
   padding: 1em;
  }

  .burger-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

        .small-nav-logo {
          text-decoration: none;
          display: flex;
          align-items: center;

          img {
            width: 3em;
            height: 3em;
            margin-right: 0.8em;
          }
  
          p {
            font-size: 1.4em;
            margin-bottom: 0;
            color: $secondary-color;
            font-weight: bold;
          }
        }
      }
      
     .open {
      width: 43px;

      .burger-menu {
        transition: transform 300ms;

        :hover {
          transform: scale(0.9);
        }
      }
     }
     
     .small-nav-menu.active {
       left: 0px;

       .close {
         border: none;
         background: none;
        transform: rotate(360deg);
       }

       $i: 1;
       $time: 400ms;
       
       @for $i from 2 to 8 {
         $time: $time + 60ms;
         .small-menu-list li:nth-child( 1n + #{$i}) {
           animation: appear-card 300ms $time both;
         }
       }

     }

    .small-nav-menu {
      font-size: 1.8em;
      color: white;
      top: 0;
      left: -1050px;
      display: block;
      position: absolute;
      right: 0;
      z-index: 1001;
      width: 100%;
      height: 100%;
      padding: 2em 40px;
      background-color: $secondary-color;
     
      transition: left 0.5s cubic-bezier(0.7,0,0.3,1);
  

      @keyframes appear-card {
        from {
          opacity: 0%;
          margin-bottom: 1.5em;
        }
          to {
            opacity: 100%;
            margin-bottom: 1em;
          }
      }
    
  

      .small-menu-list { 
             
      .language-choice {
        display: flex;
        flex-flow: row;
        }

        .l-selected {
          color: white;
          opacity: 0.6;
        }

        
        li a {
          display: block;
          color: white;
          text-decoration: none;
          margin-bottom: 1em;

          
          &:hover {
            opacity: 0.7;
            }
          }
      }
       
      .close {
        position: absolute;
        top: 0.8em;
        right: 0.8em;
        width: 35px;
        transition: transform 600ms 200ms;  
        
        }
      } 
     
    
  }

  
