.main-nav {
  padding: 0.8em 2em;
  margin: auto;
}

.burger-nav, .small-nav-menu {
   display: none;
}
  
.items-list {
  width: fit-content;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
   display: flex;
   justify-content: space-between;
   align-items: center;
   color: $secondary-color;

   .item {
     margin-left: 1.7em;
   }

  .language-choice {
     font-size: 1.05em;
     margin-left: 1.7em;

     .selected-l-fr , .selected-l-en {
      color: #4cbdd1;
    }
  }

  a {
   color: $secondary-color;
   text-decoration: none;
   font-weight: 600;

  
     &:hover {
       color: #4cbdd1;
      }
    }
  }
 
  .main-nav-large {
    display: flex;
    justify-content: space-between;
  }

  .logo-container-nav {
    display: flex;
    align-items: center;
  }
  .nav-logo  {
    display: flex;
    align-items: center;
    img {
      display: block;
      width: 230px;
      height:auto;
    }
}

  .language-choice {
    margin-right: 1em;
  }

  .l-fr, .l-en {
    &:hover {
      color: lighten($color: $secondary-color, $amount: 20);
    }
  }


  /* NAV MOBILE */


@media screen and(min-width:0) and (max-width:1024px){

  
  @keyframes appear-card {
    from {
      opacity: 0%;
      margin-bottom: 1.5em;
      
    }
      to {
        opacity: 100%;
        margin-bottom: 1em;
       
      }
  }

  @keyframes appear-menu {
    from {
      padding: 2em 0;
      width: 0;
    }

    to {
      padding: 2em 40px;
      width: 100%;
    }
  }
  
  /* HIDE LARGE NAV */
  .main-nav-large {
    display: none;
   }

   /* NAV MOBILE START */

  .main-nav {
   padding: 1em 2em;
  }

  .burger-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

        .small-nav-logo {
          display: flex;
          align-items: center;
          img {
            width: 200px;
            height: auto;
            margin-right: 0.8em;
          }
        }
      }
      
     .open {
      width: 43px;

      .burger-menu {
        transition: transform 300ms;

        :hover {
          transform: scale(0.9);
        }
      }
     }
     
     .small-nav-menu.active {
      animation: appear-menu 600ms forwards ;

      
       .small-menu-list {
        display: block;
       }

       .close {
         border: none;
         background: none;
         width: 35px;
         transform: width 0s;
         transform: rotate(360deg);
         animation : close-position 0s both;

         img {
           width: 100%;
           transform: width 0s;
         }
       }

      
       $i: 1;
       $time: 400ms;
       
       @for $i from 1 to 8 {
         $time: $time + 60ms;
         .small-menu-list li:nth-child( 1n + #{$i}) {
           animation: appear-card 300ms $time both;
         }
       }
       
     }
  
    .small-nav-menu {
      font-size: 1.8em;
      color: white;
      top: 0;
      left: 0px;
      display: block;
      position: absolute;
      right: 0;
      z-index: 1001;
      width: 0px;
      height: 100%;
      background-color: $secondary-color;   
    
      .small-menu-list { 
        display: none;

      .language-choice {
        display: flex;
        flex-flow: row;
        }

        .l-selected {
          color: white;
          opacity: 0.6;
        }
        
        li a {
          display: block;
          color: white;
          text-decoration: none;
          margin-bottom: 1em;

          
          &:hover {
            opacity: 0.7;
            }
          }
      }
    
      @keyframes close-position {
        from {
          position: static;
          
        }
          to {
            position: absolute;
        top: 0.8em;
        right: 1.1em;
          }
      }
      
      .close {
       position: static;
        width: 0;
        transition: transform 600ms 200ms;  

        img {
          width: 0;
        }
        }

      } 
     
    
  }

  
