.btn {
  min-width: 170px;
  cursor: pointer;
  background-color: $primary-color;
  color: white;
  border: none;
  padding: 0.8em 1.8em;
  border-radius: 50px;
  font-size: 1em;
  font-family: 'Mulish';
  font-weight: 500;
  box-shadow: rgba(218, 211, 206, 0.63) 2px 3px 4px;
  display: block;
  text-decoration: none;
  text-align: center;

  &:hover {
    background-color: $hover-btn-primary;
  }
}

.btn-container-admin {
  display: flex;
  flex-flow: column;
  align-items: flex-end;
}

.btn-empty-secondary {
  display: block;
  font-weight: 600;
  border-radius: 30px;
  color: $secondary-color;
  background-color: none;
  border: 2px solid $secondary-color;
  text-decoration: none;
  padding: 0.3em 0.8em;
  margin-bottom: 0.4em;
  text-align: center;
  width: fit-content;
}

.btn-empty-primary {
  display: block;
  font-weight: 600;
  border-radius: 30px;
  color: $primary-color;
  background-color: none;
  border: 2px solid $primary-color;
  text-decoration: none;
  padding: 0.3em 0.8em;
  margin-bottom: 0.4em;
  text-align: center;
  width: fit-content;
  
}


.btn-full-secondary, .btn-full-primary {
  display: block;
  font-weight: 500;
  border-radius: 30px;
  text-decoration: none;
  padding: 0.4em 0.8em;
  color: white;
  text-align: center;
  margin-bottom: 0.4em;
  border: none;
}

.btn-full-primary {
  width: fit-content;
  background-color: $primary-color;
}

.btn-full-secondary {
  width: fit-content;
  background-color: $secondary-color;
}

.btn-disconnect {
  position: absolute;
  top: 1em;
  left : 14em;
  padding: 0.8em 1.8em;
}

