.container {
  overflow: hidden;
}

/* BANNER */

.banner {
  max-width: 100%;
  background-image: url(../../images/homepage/ResilEyes-banner.png) ;
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  height: 580px;
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 3.5em;
  position: relative;

  .btn-container {
    margin-top: 1.8em;
  }

  .dtx {
    position: absolute;
    bottom: 0.3em;
    padding-right: 2em;
    font-weight: 600; 
  }
  
  .banner-text{
    width: 53%; 
    margin-top: 1.3em;
    margin-bottom: 1.7em;
   

    .small-text-banner {
      font-size: 1.2em;
      font-weight: 600;
      width: 80%;
    }
  
   .banner-title {
      color: $secondary-color;
      font-size: 2.8em;
      padding-right: 2em;
    
    }
  }

  .border-bottom {
    display: block;
    margin-bottom: 1em;
    height: 5px;
    width: 5.5em;
    border-radius: 10px;
    background-color: $primary-color;
  }
}

.banner-en {
  justify-content: center;
  .banner-text {
    padding-right: 5em;
  }
}

/* MISSION SECTION */

.mission {
  text-align: center;
  margin-bottom: 4em;

  .mission-header {
    margin-bottom: 5em;
  }
   
  h2 {
    margin-bottom: 0.2em;
    color: $secondary-color;
   }

  .mission-subhead {
    font-size: 1.1em;
    font-weight: 500;
   }

  .mission-icones-container {
    margin: auto;
    width: 85%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    .mission-container {
      padding: 1.5em 1.5em;
      box-shadow: 2px 3px 5px rgb(226, 225, 225), -2px -2px 3px  rgb(238, 237, 237);
      border-radius: 15px;
      width: 23%;
      display: flex;
      flex-flow: column;
      align-items: center;
  
      p {
        text-align: center;
      }
    }
    .mission-container:nth-child(1) h3, .mission-container:nth-child(3) h3{
      color: $primary-color;
    }

    .mission-container:nth-child(2) h3, .mission-container:nth-child(4) h3{
      color: $secondary-color;
    }
    
    .mission-container:nth-child(1) .mission-icone, .mission-container:nth-child(3) .mission-icone{
      background-color: $primary-color;
      box-shadow: lighten($primary-color,45) 2px 6px 7px 5px,lighten($primary-color,36) 0px 0px 7px 0px ;
    }

    .mission-container:nth-child(2) .mission-icone, .mission-container:nth-child(4) .mission-icone{
      box-shadow: lighten($secondary-color,63) 2px 6px 7px 5px,lighten($secondary-color,57) 0px 0px 8px 0px ;
      background-color: $secondary-color;
    }

    .mission-icone {
      border-radius: 50%;
      width: 150px;
      height: 150px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 2em;

        img {
          width: 50%;
          height: 50%;
        }
      }  
  }
}

/* BLOC PTSD */

.ptsd-introduction {
  overflow: hidden;
  background-color: $background-blue;
  height: 480px;
  display: flex;
  align-items: center;
  padding-left: 3em;
  padding-right: 4em;
  position: relative;
  margin-bottom: 3em;

  .ptsd-causes {
    font-size: 1em;
    margin-bottom: 1em;
  }

    .finger-form-secondary {
      position: absolute;
      background-color: $secondary-color;
      transform: rotate(49deg);
      top: 0;
      right: -11em;
      display: block;
      width: 360px;
      height: 130px;
      border-radius: 80px;
    }

  .ptsd-img {
   width: 45%;
   max-width: 550px;
   margin-right: 3.5em;
  }

  .ptsd-introduction-text {
    width: 48%;
    margin-left: 1em;

    .btn {
      margin-top: 0.7em;
    }

    .ptsd-introduction-title {
      color: $secondary-color;
      width: 90%;
      font-size: 1.8em;
    }
  }
}
/* ILLUSTRATION BLOC */
.illustration-bloc {
  padding: 1em 3em;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
 
  h2 {
    color: $primary-color;
    display: block;
    text-align: center;
    margin-bottom: 2em;
    padding: 0 3em;
  
  }
  img {
    display: block;
    margin: auto;
    width: 90%;
  }
}

/* NUMBERS SECTIONS */

.section-numbers {
  padding: 4em 8em 4em 8em;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  .number-container {
    width: 28%;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-bottom: 2em;

    p {
      text-align: center;
    }
  }

  .round {
    background-color: $soft-grey;
    height: 240px;
    width: 240px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: text-bottom;
    margin-bottom: 1.5em;

    .number {
      display: block;
      font-size: 2.5em;
      font-weight: 700;
      margin-bottom: 0;
    }    

    .primary-color {
      color: $primary-color;
    }  

    .secondary-color {
      color: $secondary-color;
    }
  }
}

/* SECTION VALUE PROPOSITION */

.value-proposition {
  background-color: $primary-color;
  padding: 3em 3em;
  color: white;
  text-align: center;
  margin-bottom: 2em;
   
  h2 {
    font-size: 1.8em;
    margin-bottom: 0;
  }
}

/* ARTICLES SECTION */

.articles {
  padding-right: 8em;
  padding-left: 8em;

  .articles-section-header {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3em;

    h2 {
      color: $secondary-color
    }
  }

  .articles-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 3em;

    .card-article {
      position: relative;
      border-radius: 20px 20px 0 0;
      width: 30%;
      height: 470px;
      box-shadow: $grey 3px 4px 6px, $grey -3px -3px 6px;
      
      .article-text {
        padding: 0.6em 1.5em;

        a {
          color: $primary-color;
          text-decoration: none;
          font-weight: bold;
          display: block;
          position: absolute;
          bottom: 0.6em;
          transform-origin: left ;
          &:hover {
           transform: scale(1.1);
          }
        }

        .read-more {
          display: flex;
          align-items: center;
         }

        .arrow-container {         
          height: 2.2em;
          width: 2.2em;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 2px solid $primary-color;
          border-radius: 50%;
          margin-right: 0.7em;

          img {
            height: 80%;
            width: auto;
          }
        }

        .date {
          font-size: 0.8em;
          color: $dark-grey;
          font-weight: 600;
        }

        h3 {
          color: $secondary-color;
          margin-bottom: 0.3em;
        }
      }

      .article-img-container {
        border-radius: 20px 20px 0 0;
        height: 40%;
        overflow: hidden;
        margin-bottom: 0.5em;

        img {
          border-radius: 20px 20px 0 0;
          height: 105%;
          width: 100%;
        }
      }
    }
  }
}

/* PARNERS */

.partners {
  background-color: $soft-grey;
  padding: 4em 2em 3.5em 2em;
 
  .first-line, .second-line ,.third-line {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;   
  }

  .logo-container {
    width: 8%;
    margin-left: 0.9em;
    margin-right: 0.9em;
    margin-bottom: 1em;
  }
  
  .second-line {
    .logo-container {
      width: 9%;
    }
  }

  .partners-header {
    margin-bottom: 1.5em;
    text-align: center;
    color: $secondary-color;
    font-size: 1.8em;
  }
}

/* CONTACT SECTION */

.contact-section {
  border-radius: 25px;
  background-color: $soft-grey;
  margin-left: 3em;
  margin-right: 3em;
  margin-bottom: 3em;
  padding: 4em 2em;

  .sub-title-contact {
    text-align: center;
    color: $secondary-color;
    font-size: 1.4em;
    font-weight: 700;
  }

  h2 {
    text-align: center;
    color: $primary-color;
  }

  .container-contact-section {
    margin-top: 3em;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      width: 90%;
      margin-bottom: 1.5em;
    }

    .img-container-contact {
      width: 50%;
      margin-right: 5em;
    }

    .text-contact-section {
      width: 32%;
    } 
  }

}

