@media screen and (max-width:1024px) {

/* BANNER */
.banner { 
  height: fit-content;  
  padding: 1.7em;

  .banner-text {
    background-color: rgba(255, 255, 255, 0.774);
    width: 100%;
    padding: 3em 5em 3em 5em;
    text-align: center;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 0;
 
    .dtx {
      position: static;
      padding: 0;
      margin: 0;
     }

     .btn-container button {
      margin-bottom: 3em;
     }

     .banner-title {
      margin: 0;
      padding-right: 0;
     }

    .small-text-banner {
      margin-bottom: 0.5em;
      padding: 0.5em 3em 1em 3em;
      display: block;
      width: 100%;
    }
  }
}
 
/* MISSIONS SECTION */

.mission { 
  padding: 0 4em;
  margin: 0;

  .mission-icones-container {
    width: 100%;

    .mission-container {
      margin-bottom: 3em;
      width: 46%;
      display: flex;
      flex-flow: column;
      align-items: center;

      &:nth-child(3){
        order: 3;
      }
      
      p {
        text-align: center;
      }

        .mission-icone {
          width: 230px;
          height: 230px;
        }
      }
    }
  }


/* BLOC PTSD */
.ptsd-introduction {
  margin-bottom: 3em;
  display: block;
  width: 100%;
  padding: 0;
  height: auto;
  background-color: white;

  .finger-form-secondary {
    display: none;
  }

  .ptsd-introduction-text {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    padding: 0 3em;

    .btn {
      margin-top: 1.5em;
      padding: 1em 3em;
    }

    .ptsd-introduction-title {
      width: 100%;
    }  
  }

  .ptsd-img {
    background-color: $background-blue;
    height: 450px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: none;

    img {
      width: auto;
      height: 180%;
    }
  }
}

  /* SECTION NUMBER */

  .section-numbers {
    padding: 5em 3em 1em 3em;
    background-color: $soft-grey;
    width: 100%;
    justify-content: center;
  
    .number-container {
      width: 40%;
      margin-left: 2em;
      margin-right: 2em;

      p {
        font-size: 1.1em;
      }
    }
    .round {
      background-color: white;
    }
  }


/* VALUE PROPOSITION */

  .value-proposition {
    padding: 0;
    margin-bottom: 0em;
    background-color: white;

    .title-value-proposition {
      background-color: $primary-color;
      width: 100%;
      padding: 2em 1.3em;
      margin-bottom: 1.5em;
    }

    .br-none {
      display: none;
    }
  }

/* BLOC ILLUSTRATON */

  .illustration-bloc {
    padding: 1em 1.3em 0 1.3em;

    h2 {
      padding: 0 3em;
      margin-bottom: 2em;
    }
    img {
      width: 80%;
    }
  }
  /* PARTNERS */

  .partners {
    padding: 4em 3.5em 2em 3.5em;
    margin-bottom: 0em;

    .logo-container {
      width: 12%;
    }

    .second-line {
      .logo-container {
        width: 12%;
      }
    }
  }

  /* ARTICLES */

  .articles {
    background-color: $soft-grey;
    padding: 3em 3em 2em 3em;
    position: relative;
    background-color: $soft-grey;

    .articles-container {
       margin-bottom: 0;

      .card-article {
        width: 46%;
        margin-bottom: 3em;
      }
    }
  }

 /* CONTACT US */
  .contact-section {
    padding: 3em ;
  
    .container-contact-section {

    .img-container-contact {
     width: 40%;
     margin-right: 3em;
    }
     .text-contact-section {
       width: 50%;    
    }
   }
  }


}