@media screen and(max-width:767px){

  /* BANNER */

  .banner {
    height: auto;
    padding: 1.2em;
    background-position-x: 20%;
    
    .banner-text {
      padding: 1.5em 1.3em;
      .banner-title {
       font-size: 2.1em;
      }
      .small-text-banner , .dtx{
        padding: 0.3em;
      }
    }
  }

/* MISSIONS SECTION */
.mission { 
  padding: 0 1.3em;
 
  .mission-header {
    margin-bottom: 3em;

     .mission-subhead {
    font-size: 1.25em;
   }
  } 
  
  .mission-icones-container {
    width: 95%;
  
    .mission-container {
      width: 100%;
    
      .mission-icone {
        width: 200px;
        height: 200px;
      }

      p {
        font-size: 1.1em;
        padding-left: 0.8em;
        padding-right: 0.8em;
        }
      }
    }
  }

.mission-container:nth-child(1) {
  order: 1;
}

.mission-container:nth-child(3) {
  order: 2;
}

.mission-container:nth-child(2) {
  order: 3;
}

.mission-container:nth-child(4) {
  order: 4;
}


/* BLOC PTSD */
.ptsd-introduction {
 
  .ptsd-introduction-text {
    width: 100%;
    padding-top: 1em;
    padding-left: 1.3em;
    padding-right: 1.3em;
    background-color: white;

    .ptsd-introduction-title {
      width: 100%;
    }
  }

  .ptsd-img {
    padding: 1.5em;
    height: 300px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 1em;
    max-width: none;
  
    img {
      height: 210%;
    }
  }
}

  /* SECTION NUMBER */

  .section-numbers {
    margin: 0;
    padding: 3em 0;
    display: block;
    
    .number-container {
      margin: auto;
      width: 100%;
      padding: 0 2.5em;
      margin-bottom: 3em;

      p {
        font-size: 1.2em;
      }
    }
    .round {
      font-size: 0.9em;
      margin-bottom: 1.5em;
      width: 185px;
      height: 185px;
    }
  }

  /* VALUE PROPOSITION */
  .value-proposition {
    
    .title-value-proposition {
      padding: 1.3em;
      font-weight: 600;
      margin-bottom: 1em;
    }
  }

  /* BLOC ILLUSTRATON */

  .illustration-bloc {
    img {
      width: 100%;
    }
    h2 {
      padding: 0;
    }

  }

  /* PARNERS */
  .partners {
    margin-bottom: 0;
    padding: 2em 1em 1em 1em;

    .logo-container {
      width: 20%;
    }

    .second-line {
      .logo-container {
        width: 20%;
      }
    }

    .partners-header {
      width: 100%;
      
    }
  }
/* ARTICLES */

  .articles {
    margin-bottom: 1em;
    padding: 3em 1.5em 5em 1.5em;

    .articles-section-header {
      flex-flow: column;
      margin-bottom: 1em;

      .btn {
        position: absolute;
        bottom: 2.5em;

      }
    }

    .articles-container {
      flex-flow: column;
      margin-bottom: 0;

      .card-article {
        width: 100%;
        margin-bottom: 3em;
        height: 500px;

        .article-img-container {
          height: 40%;
        }
      }
    }
  }

 /* CONTACT US */

  .contact-section { 
    background-color: white;
    margin: 0;
    border-radius: 0;
    padding: 2em 1.5em;
    text-align: center;

   .container-contact-section {
    padding: 1em;
    display: block;

    .img-container-contact {
      width: 100%;
      margin-bottom: 2em;
    }

    .text-contact-section {
      width: 100%;

      p {
        margin-bottom: 2em;
      }
    }

   }
  }
}