@media screen and (max-width:1245px) {

  .blog-page-container {
    padding: 2em 3em 1em 3em;
  }

  .all-articles-container-blog  {
    grid-template-columns: repeat(2, 1fr);
  }

  .card-all-article-blog {
    width: 100%;
    height: 520px;
  }

  .second-article-blog-page, .third-article-blog-page {
    flex-flow: column;
    height: 520px;
    border-radius: 10px;
    width: 48.5%;
  } 

  .third-article-blog-img-container, .second-article-blog-img-container, .card-all-article-img-container {
    width: 100%; 
    height: 40%;
    border-radius: 10px 10px 0 0;
      img {
        width: 100%;
      }
  }

  .third-article-blog-text-container, .second-article-blog-text-container {
    width: 100%;
    height: 60%;
  }

  .first-article-card-content {
    -webkit-line-clamp: 4;
}

  .first-article-blog-text-container {
    width: 55%;
    height: 100%;
  }

  .first-article-blog-img-container { 
     width: 45%;
    img {
      height: 100%;
      width: auto;
    }
  }
}

@media screen and (max-width:767px) {

  .blog-header {
    flex-flow: row wrap;
    position: relative;
    height: 120px;
    align-items: flex-start;
 
    .search-input {
      position: absolute;
      right: 0em;
      top: 1em;
      margin-right: 0;
    }
    
    .filter-article-select-container {
     position: absolute;
     top: 4em;
     right: 0em,
    }
  }
  .blog-page-container {
     padding: 1.7em;
  }

  .first-article-blog-page , .second-article-blog-page, .third-article-blog-page, .card-all-article-blog{
    flex-flow: column;
    height: fit-content;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 2em;
    max-height: none;

    .first-article-blog-img-container, .third-article-blog-img-container, .second-article-blog-img-container, .card-all-article-img-container {
      height: 180px;
      width: 100%;
      order: 1;
      border-radius: 10px 10px 0 0;

        img {
          width: 100%;
        }
    }

    .first-article-blog-text-container, .third-article-blog-text-container, .second-article-blog-text-container, .card-all-article-text-container   {
      width: 100%;
      order: 2;
      height: 60%;
      padding: 1em 1.5em 1em 1em;
      h3 {
        font-size: 1.3em;
      }
    }
  }

  .article-2-3-container-blog, .all-articles-container-blog  {
    display: block;
  }

  .first-article-card-content {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    height: fit-content;
  }
}