/* ALL MEDIA QUERIES */
.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 1em;

  label {
    margin-bottom: 0;
  }

.checkbox {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-radius: 3px;
  margin-right: 0.7em;
  height: 20px;
  width: 20px;
  border: 1px solid $secondary-color!important;
 
  &:checked {
    background-color: $secondary-color;

    &::after {
      font-size: 1.2em;
      content: "\2713";
      color: white;
    }
   }
  }
}

.validated-form {
  text-align: center;
  padding-top: 1.3em;
  padding-bottom: 1.3em;
  font-size: 1.4em;
  margin-bottom: 2em;
  background-color: rgb(30, 163, 196);
  color: white;
}

.unvalidated-form {
  margin-bottom: 2em;
  text-align: center;
  padding-top: 1.3em;
  padding-bottom: 1.3em;
  font-size: 1.4em;
  color: white;
  background-color:#fc5c00;
}

.message-validate-area {
  background-color: transparent;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.contact-page {
  background-color: $blue;
}

.contact-formulaire-container {
  display: flex;
  justify-content: space-between;
  padding: 0 6em 4em 6em;

  .contact-text-container {
    width: 60%;

    img {
      width: 85%;
    }

    .contact-subhead {
      font-weight: bold;
    }

    h1 {
      color: $primary-color;
      margin-bottom: 1em;
      font-size: 1.5em;
    }

    .mail-to {
      color: $secondary-color;
      text-decoration: none;
    }

    .team-resileyes {
      color: $primary-color;
      font-weight: bold;
    }
  }

  .contact-form {
    width: 34%;

    .send-message {    
      .btn {
        width: 100%;
      }
    }

  .message-area {
    display: flex;
    flex-flow: column;
    margin-bottom: 1em;

    .message {
      height: 160px;
      resize: none;
      width: 100%;
      font-size: 0.9em;
      border: 0;
      border-radius: 10px;
      padding: 0.7em;
      font-family: 'Mulish', sans-serif;

      &:focus {
        outline: none;
      }
    }
  }

  .select-input {
    display: flex;
    flex-flow: column;

      select {
        font-family: 'Mulish' , sans-serif;
        font-size: 0.9em;
        padding: 0.8em;
        border: 0;
        border-radius: 10px;
        height: 2.8em;
        color: grey;
        background-size: 18px;
        -webkit-appearance: none;
        background-repeat: no-repeat;
        background-position: 97% 50%;
        background-image:url(../../images/icones-form/fleche.png) ;

        &:focus {
          outline: none;
        }
      }
    }
  }
}

.error {
  display: block;
  padding-bottom: 0em;
  font-size: 0.6em;
  color: $error;
  margin-top: 0.3em;
}

label {
  display: block;
  color: $secondary-color;
  margin-bottom: 0.5em;
  margin-top: 0.4em;
}

.input {
  border-radius: 10px;
  background-color: white;
  width: 100%;
  height: 2.8em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7em;

    img {
      width: 18px;
    }

  input {
    border: 0;
    font-size: 0.9em;
    width: 97%;

    &:focus {
      border: none;
      outline: none;
    }

    ::placeholder {     
      font-family: 'Mulish', sans-serif;
    }
  }
}



/* TABLET */
@media screen and (max-width:1024px) {

  .contact-formulaire-container {
    padding: 0em 3em 5em 3em;
    
    .contact-text-container {
      width: 45%;
    
      h1 {
        font-size: 1.4em;
      }
         
      img {
        margin-top: 1em;
      }
    }

    .contact-form {
      width: 45%;
      }
  }
}
/* MOBILE */

@media screen and (max-width:767px) {
  
  .contact-formulaire-container {
    padding: 0em 1.3em 2em 1.3em;
    flex-flow: column;

    .contact-text-container {
      width: 100%;
      text-align: center;
      margin-bottom: 2em;
     
      img {
        width: 70%;
      }
    }
    .contact-form {
      width: 90%;
      margin: auto;
    }
  }

}