/* ALL MEDIA QUERIES */

/* TEAM PAGE */

.team-finger {
  position: absolute;
  width: 9em;
  height: 6em;
}

.left-1 {
  background-color: $secondary-color;
  left: 0;
  border-radius: 0 80px 80px 0;
  top: 300px;
}

.right-2 {
  background-color: $primary-color;
  border-radius: 80px 0 0 80px;
  right: 0;
  top: 730px;
}

.left-3 {
  background-color: $third-color;
  border-radius: 0 80px 80px 0;
  left: 0;
  top: 1180px;
}

.right-4 {
  background-color: $secondary-color;
  border-radius: 80px 0 0 80px;
  right: 0;
  top: 1630px;
}  

.left-5{
  background-color: $primary-color;
  border-radius:  0 80px 80px 0;
  left: 0;
  top: 2090px;
}

.right-6 {
  display: none;
}

.team-page { 
  background-color: $background-blue;
  padding-top: 5em;

  .team-page-header {
    text-align: center;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 6em;

    p {
      font-size: 1.2em;
    }

    h1 {
      color: $primary-color;
    }
  }
}

.team-cards-container {
  width: 75%;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  max-width: 1000px;
}

.co-founders-cards {
  width: 75%;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
 
}

.card-team {
  display: flex;
  flex-flow: nowrap column;
  align-items: center;
  margin: 4em 1em;
  background-color: white;
  border-radius: 10px;
  position: relative;
  width: 27%;
  min-width: 230px;
  max-width: 270px;

  .text-ID-card {
    padding: 0 1.5em;
    text-align: center;
    display: flex;
    flex-flow: column;
    align-items: center;
  
    p {
      margin-bottom: 0.2em;
    }

    .name-card {
      margin-bottom: 0.3em;
      font-size: 1.2em;
      font-weight: 600;
      color: $secondary-color;
    }
  }

  .text-ID-card, .ID-picture-container {
    position: relative;
    top: -70px
  }

  .linkedin-link {
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 1.3em;
  
  }

  .ID-picture-container {
    border-radius: 50%;
    overflow: hidden;
    width: 200px;
    height: 200px;
    margin-bottom: 1.2em;
  }
}

@media screen and (max-width:1045px) {
  .left-5 {
    top: 2070px;
  }

  .right-6 {
    display: block;
    background-color: $third-color;
    border-radius: 80px 0 0 80px;
    right: 0;
    top: 2550px;
  }
}

@media screen and (max-width: 1127px) {

  .team-page {
    .team-page-header {
      width: 70%;
    }
  }

  .team-finger {
    width: 120px;
    height: 90px;
  }

  .right-2 {
    top: 770px;
  }

  .left-3 {
    top: 1190px
  }

  .right-4 {
    display: block;
    background-color: $secondary-color;
    border-radius:  80px 0 0 80px ;
    right: 0;
    top: 1650px;
  }
  
}


@media screen and (max-width: 767px) {
  .team-page {
    padding: 4em 1.5em;
    .team-page-header {
      width: 100%;
      margin-bottom: 3em;
    }
  }
  
  .team-finger {
    display: none;
  }

  .team-cards-container , .co-founders-cards{
    padding: 0;
    margin: 0;
    width: 100%;

    .card-team {
      width: 100%;
      margin: 4em 0;
      max-width: 320px;
      height: 340px;

      .ID-picture-container {
        transform: scale(1.1);
        margin-bottom: 2em;
      }
    }
  }
  
}