/* ALL MEDIA QUERIES */

.cookies {
  background-color: $soft-blue;
  padding: 5em 10em;

  a {
    color: $secondary-color;
    text-decoration: none;

    &:hover {
      color: darken($secondary-color, $amount: 5);
      text-decoration: underline;
    }
  }
  
  h1 {
    text-align: center;
    color: $secondary-color;
    margin-bottom: 1.5em;
  }

  h2 {
    color: $primary-color;
  }

  div {
    margin-bottom: 2.5em;
  }
  .list-cookies {
    margin-left: 2em;
    list-style: disc;
    text-align: left;
  }

  .cookies-params {
    margin-top: 1.5em;
  }
}

@media screen and (max-width:1024px) {
  .cookies{
    padding: 5em 6em;
  }
}

@media screen and(max-width:767px){
  .cookies {
    padding: 3.5em 1.3em;
    text-align: center;
  }

 
 }
