$primary-color: #ff7300;

$hover-btn-primary: #c24d04;

$secondary-color: #00869e;

$beige :#fff5ec;

$third-color: #9ddaec;

$blue: #e1f4fc;

$soft-grey: #f4f5f6;

$grey: rgb(230, 230, 230);

$dark-grey: rgb(134, 134, 134);

$soft-blue: #eff9fe;

$background-blue: #e1f4fc;

$body-font-color : #212121;

$error : #fc6500;