.background-admin-connexion {
    background-color: $blue;
    padding: 3em 4em 9em 4em;

    h1 {
        color: $secondary-color;
        text-align: center;
        margin-bottom: 1.5em;
    }

    form {
        width: 30%;
        margin: auto;
    }

    
    label{
        font-weight: 600;
        color: $secondary-color;
    }


    input {
        border: none;
        padding: 0.7em 1em;
        margin-bottom: 1em;
        border-radius: 10px;
        width: 100%;
     
        &:focus {
            outline: 2px solid $secondary-color;
          }

        ::placeholder {     
            font-family: 'Mulish', sans-serif;
          }
    }

    .btn-connexion-admin {
        margin-top: 1em;
        border-radius: 50px;
    }
}