@media screen and (max-width:1024px) {

    .form-col-right {
        width: 100%;
        margin-top: 2em;

        .article-area-container {
            textarea {
                height: 320px;
            }
        }
    }

    .a-la-une-container { 
        display: block;
        }
        
        .article-1-container {
            width: 100%;
            display: flex;
            flex-flow: row wrap;
            height: 200px;

            .card-article-text, .a-la-une-container-img-1 {
                width: 49%;
                height: 100%;
                border-radius: 15px 0 0 15px;
            }
        }

    .article-2-3-container {
        display: block;
        width: 100%;
    }
    
    .article-2, .article-3 {
        width: 100%;
        height: 150px;
    }
   

    .small-menu-lateral-open {
        display: flex;
        color: white;
        font-size: 1.1em;
        margin-top: 0.6em;
        margin-right: 1.5em;
        margin-left: 1.5em;
        float: right;
    }

    .card-article {
        width: 100%;
    }

    .menu-lateral-admin {
        padding-bottom: 1em;
        background-color: $secondary-color;
        border-bottom: none;
        position: absolute;
        width: 245px;
        top: 0;
        height: 50px;
        overflow: hidden;  
        z-index: 1000;
        border-radius: 0 0 10px 0;
    }

    .menu-lateral-display {
        height: fit-content;
        height: -moz-max-content;    /* Firefox/Gecko */
    }
   
    #chevrons-container {
        width: 20px;
        position: relative;
        margin-left: 15px;

        .chevron-down {
            display: none;
        }

        img {
            position: absolute;
            top: 0;
        }

        .chevron-no-display {
            display: none;
        }

        .chevron-display {
            display: block;
        }
    }

    .container-admin {
        display: block;
        background-color: $blue;
        width: 100%; 
        position: relative;  
    }
    
    .menu-link {
        font-weight: 500;
        display: block;
        padding: 1em 1.3em;
        cursor: pointer;
        display: flex;
    }


    #main_section {
        overflow: hidden;
        width: 100%;
        padding: 4em 1.5em;
        min-height: 60vh;

        h1 {
            font-size: 1.6em;
        }
    }

    #register_user {
        margin-top: 5em;
    }

    #register_user_view {
        padding-top: 3em;
        width: 80%;
        margin: auto;   

        form, input {
            width: 100%!important;
        }

        h1 {
            margin-top: 2em;
            text-align: center;
        }

    }

    .form-container {
        display: block;

        .input-new-article {
            width: 100%;
        }

        .input-label, .input-select-img-container, #categories-checkbox-container {
            width: 100%;
            max-width: none;
        }
    }

}