.article-header {
 text-align: center;
 width: 70%;
 display: flex;
 flex-flow: column;
 align-items: center;
 margin: 0 auto ;

}

.article-page {
    background-color:#f7fcfd ;
    padding: 5em;
}

.date-of-publication {
    font-size: 0.9em;
    color: $dark-grey;
}

.author-name {
    color: $secondary-color;
    font-weight: 700;
}

.article-author {
    font-size: 1.1em;
    
}

.article-title {
    font-size: 1.9em;
  
}

.link-main-article {
    color: $secondary-color;
    text-decoration: none;

    &:hover {
        color: darken($secondary-color, 10);
    }
}

.list-main-article {
 
    .list-element-main-article {
            display: flex;
        &::before {
            content:"\2022";
            color: inherit;
            margin-right: 10px;
        }

        .item-summary {
        text-decoration: none;
        margin-bottom: 0.6em;
        display: block;
        }

    }
}

.category-list {
    display: flex;
    flex-flow: wrap;

    .category-item {
        color: $primary-color;
        border: 1px solid $primary-color;
        border-radius: 20px;
        margin-right: 0.3em;
        margin-bottom: 5px;
        padding: 0.2em 0.7em;
        font-size: 0.9em;
    }
}

.main-article {
    display: flex;
    justify-content: space-between;
    width: 88%;
    margin: 0 auto;
}

.main-image-article {
    width: 90%;
    margin: 1em auto 3em auto;
    height: 440px;
    overflow: hidden;
    border-radius: 20px;
}

#article_summary {
    width: 13%;
     li {
         display: flex;
     }
    li::before {
        content:"\2022";
        color: $secondary-color;
        margin-right: 10px;
    }
}
.item-summary {
    text-decoration: none;
    color: $secondary-color;
    margin-bottom: 0.6em;
    display: block;

    &:hover { 
       
    }
}

.article-content {
    width: 70%;
}

.logo-share-article {
    width: 3%;
     
    div {
        width: 30px;
        margin-bottom: 0.5em;
    }
}

.close-previsualisation {
    display: flex;
    align-items: center;
    position: fixed;
    right: 0;
    bottom: 0;
    background-color: $primary-color;
    padding: 1em;
    border-radius: 20px 0 0 0;
    a {
        color: white;
        text-decoration: none;
        margin-bottom: 0;
        margin-right: 8px;
    }

    img {
        width: 25px;
    }
    &:hover {
        background-color: $hover-btn-primary;
    }
    
}

.bold-main-article {
    font-weight: bold;
}

.italic-main-article {
    font-style: italic;
}

.titles-main-article {
    margin-top: 1em;
}