@media screen and (max-width:1245px) {
    .article-page {
        padding: 3em 1em;
    }

    .main-image-article {
        height: 390px;
    }

    .main-article {
        flex-flow: row wrap;
    }

    #article_summary {
        width: 200px;
        order: 1;
        margin-bottom: 2em;
    }

    .article-content{
        width: 100%;
        order: 3;
    }

    .logo-share-article {
        order: 2;
        width: 30px;
    }
}

@media screen and (max-width:767px) {
    .main-image-article {
        height: 200px;
    }

    .logo-share-article {
        order: 2;
        width: 100px;
        display: flex;
        justify-content: space-between;
    }
}