.article-header {
 text-align: center;
 width: 70%;
 display: flex;
 flex-flow: column;
 align-items: center;
 margin: 0 auto ;

}

.article-page {
    background-color:#effafc ;
    padding: 5em;
}

.date-of-publication {
    font-size: 0.9em;
    color: $dark-grey;
}

.author-name {
    color: $secondary-color;
    font-weight: 700;
}

.article-author {
    font-size: 1.1em;
    
}

.article-title {
    font-size: 1.9em;
  
}

.category-list {
    display: flex;

    .category-item {
        color: $primary-color;
        border: 1px solid $primary-color;
        border-radius: 20px;
        margin: 0 0.3em;
        padding: 0.2em 0.8em;
    }
}

.main-article {
    display: flex;
    justify-content: space-between;
    width: 88%;
    margin: 0 auto;
}

.main-image-article {
    width: 90%;
    margin: 2em auto 3em auto;
    height: 320px;
    overflow: hidden;
    border-radius: 20px;
}

#article_summary {
    width: 13%;
     li {
         display: flex;
     }
    li::before {
        content:"\2022";
        color: $secondary-color;
        margin-right: 10px;
    }
}
.item-summary {
    text-decoration: none;
    color: $secondary-color;
    margin-bottom: 0.6em;
    display: block;
}

.article-content {
    width: 70%;
}

.logo-share-article {
    width: 3%;
     
    div {
        width: 30px;
        margin-bottom: 0.5em;
    }
}

.close-previsualisation {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 300px;
    background-color: $primary-color;
    padding: 1em;
    border-radius: 20px 0 0 0;
    color: white;

}