.index-view {
    text-align: center;


    #welcome-title {
        color: $secondary-color;
        font-size: 2.2em;
        width: 72%;
        margin: 1em auto 1em auto;
    }
}


.welcome-illustration-container {
    width: 60%;
    margin: auto;
}