.title-articles-list {
    color: $secondary-color;
    margin-bottom: 1em;
}

.a-la-une-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5em;
}

.article-en-redaction {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.a-la-une-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}

.article-2-3-container {
    display: flex;
    flex-flow: column;
    width: 49%;
}
  
.article-2, .article-3 {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    background-color: white;
    border-radius: 20px;
    height: 170px;
}

.article-2 {
    margin-bottom: 1em;
}

.a-la-une-container-img-2-3 {
    width: 30%;
    border-radius: 15px 0 0 15px;
    overflow: hidden;
    display: flex;
    justify-content: center;

    img {
        height: 100%;
        width: auto;
        }
    }
.card-article-text {
    width: 70%;
    padding: 0.8em;

        p {
        margin-bottom: 3px;
        }
    }
    

.article-1-container {
    overflow: hidden;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 1em;
    flex-flow: column;
    display: flex;
    width: 49%;
    height:360px;
    }

.a-la-une-container-img-1 {
    border-radius: 15px 15px 0 0;
    overflow: hidden;
    height: 50%;
    display: flex;
    align-items: center;

        img {
            width: 100%;
        }
        
        .card-article-text {
            height: 55%;
            padding: 0.8em;
            p {
                margin-bottom: 3px;
            }
        }
    } 


.a-la-une-title , .all-published-articles{
    color: $primary-color;
    font-size: 1.3em;
    margin-bottom: 0.8em;
}

.card-article {
    overflow: hidden;
    width: 49%;
    background-color: white;
    border-radius: 20px;
    padding: 0.8em;
    margin-bottom: 1em;
    display: flex;
    justify-content: space-between;

    .card-article-text {
        display: flex;
        flex-flow: column;
        justify-content: center;
        width: 62%;
        margin-right: 0.5em;
        
    }

    .card-list-my-articles {
        width: 55%;
    }

    p {
        white-space: nowrap;
        overflow: hidden;
        margin-bottom: 0.5em;
        text-overflow: ellipsis;
        font-size: 0.95em;

    }
}

.titles-card {
    color: $secondary-color;
    font-weight: 500;
}

.link-selected {
    background-color: white;
    color: $secondary-color;
    display: block;
}