.manage-users-cards-container{
    display: grid;
    grid-template-columns: repeat(3 , 32%);
    justify-content: space-between;
}

.card-manage-user {
    background-color: white;
    border-radius: 15px;
    padding: 1em;
    text-align: center;

    .card-user-text {
        margin-bottom: 1em;
    }
    p {
        margin-bottom: 0.3em;
    }
}

.btn-container-user-card {
    display: flex;
    flex-flow: column;
    align-items: center;
  
}

.username-card {
    font-size: 1.1em;
    font-weight: bold;
}

.user-email-card {
    color: $dark-grey;
}

.perms-div{
    position: absolute;
    top: 25%;
    right: 20%;
    background-color: rgb(252, 250, 250);
    box-shadow:rgba(218, 211, 206, 0.63) 2px 3px 4px, rgba(218, 211, 206, 0.63) -2px -1px 4px;
    padding: 2em;
    border-radius: 15px;
    width: 580px;

}

.form-permissions-user {
    display: grid;
    grid-template-columns: repeat(2, 48%);
    justify-content: space-between;
}

.modal-user-permissions-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5em;

    p {
        font-size: 1.1em;
        font-weight: bold;
    }
    span {
        width: 20px;
    }
}

.checkbox-manage-permissions-container {
    display: flex;
    flex-flow: row wrap;
}

.display-none {
    display: none;
}

.btn-manage-permissions {
    padding: 0.8em 2em;
    float: right;
}