@media screen and (max-width:1245px) {

    .categories-list-container {
        display: block;
    }

    .category-item-edit {
        width: 98%;
    }

    .add-category-inputs-container {
        display: flex;
        flex-flow: column;
    }

    .add-category-input { 
        width: 98%;
        margin-bottom: 1em;
        order: 2;
    }

    .add-category-submit {
        order: 1;
        width: fit-content;
        margin-bottom: 1em;
    }
}