@media screen and (max-width:1245px) {
    .manage-users-cards-container{
        display: grid;
        grid-template-columns: repeat(2 , 48%);
        justify-content: space-between;
    }

    .perms-div {
        right: 15%;
        z-index:1000;
    }
}

@media screen and (max-width:767px) {
    .manage-users-cards-container {
        display: block;
    }
    .perms-div {
        left: 3em;
        right: 3em;
        width: auto;
    }

 }