@media screen and (max-width:1245px) {

    .categories-list-container {
        display: block;
    }

    .category-item {
        width: 80%;
    }

    .add-category-input { 
        width: 56%;
    }
}