.input-category {
    border: none;
    border-radius: 10px;
    padding: 0.8em 1.2em;
    margin-right: 1em;
    width: 73%;
    
}

.label-add-category, .label-all-categories {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 1.5em;
}

.edit-category-input {
    background-color: $secondary-color;
    color: white;
    border: none;
    padding: 0.4em 1em;
    border-radius: 20px;
    font-size: 1em;
    margin-right: 0.5em;
}

.categories-list-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.add-category-container {
    margin-bottom: 2.5em;
    display: block;
}

.category-item {
    margin-bottom: 1em;
    margin-right: 1em;
    width: 48%;
    display: flex;
    flex-flow: row;
    display: flex;
}

.add-category-input {
    border: none;
    border-radius: 10px;
    padding: 0.8em 1.2em;
    margin-right: 1em;
    width: 300px;


    &::placeholder {
       font-size: 15px;
    }
}

.add-category-submit {
    border: 1px solid $primary-color;
    background-color: transparent;
    border-radius: 20px;
    color: $primary-color;
    padding: 0.6em 1em;
    font-size: 1em;

}

.btn-edit-category {
    margin-right: 0.5em;
}