

.menu-lateral-admin {
    background-color: $secondary-color;
    width: 310px;
    border-bottom: 1px solid $blue;
    padding: 0 1em 0 0;
}

.menu-link {
    color: white;
    font-weight: 500;
    display: block;
    padding: 1em 1.5em;
}

.container-admin {
    display: flex;
    background-color: $blue;
    width: 100%;
   
}

#main_section {
   width: 100%;
   padding: 2em;
   min-height: 90vh;
}

#write_article, #register_user {
    margin-top: 1.5em;
    margin-left: 1.5em;
    font-size: 16px;
    color: white;
    background: none;
    border: 1px solid white;
    padding: 0.6em 0.6em;
    border-radius: 5px;
    margin-bottom: 1em;
    font-weight: 500;
    width: 185px;
}

