.menu-lateral-admin {
    background-color: $secondary-color;
    border-bottom: 1px solid $blue;
    width: 290px;
}

.menu-link {
    color: white;
    font-weight: 500;
    display: block;
    padding: 1em 1.3em;
    cursor: pointer;
}

.container-admin {
    display: flex;
    background-color: $blue;
    width: 100%;   
}

#main_section {
    overflow: hidden;
    width: 100%;
    padding: 2em 1.5em;
    min-height: 90vh;

   h1 {
       font-size: 1.6em;
   }
}


#write_article, #register_user, #button_write_article {
    margin-top: 1.5em;
    margin-left: 1.2em;
    margin-right: 1em;
    font-size: 16px;
    color: white;
    background: none;
    border: 1px solid white;
    padding: 0.6em 0.6em;
    border-radius: 5px;
    margin-bottom: 1em;
    font-weight: 500;
    width: 200px;
    text-decoration: none;
    text-align: left;
    cursor: pointer;
}

