.modal-articles-une {
 width: 60%;
 position: absolute;
 top: 200px;
 right: 200px;
 border-radius: 10px;
 background-color: rgb(252, 250, 250);
 box-shadow:rgba(218, 211, 206, 0.63) 2px 3px 4px, rgba(218, 211, 206, 0.63) -2px -1px 4px;
 padding: 1.5em;
}


.modal-header {
    display: flex;
    justify-content: space-between;
}

#btn-close-modal {
    display: block;
    width: 30px;
}

.manage-articles-title {
    margin-bottom: 1.5em;
    color: $primary-color;
}

.first_article_input {
    background-color: transparent;
    width: 100%;
    margin-bottom: 2em;
    height: 40px;
    border-radius: 10px;
    border-color: $secondary-color;
    padding: 10px;
    font-family: "Mulish", sans-serif;
    background-size: 18px;
    -webkit-appearance: none;
    background-repeat: no-repeat;
    background-position: 99% 50%;
    background-image: url(../../images/icones-form/fleche.png);
}

.label-manage-article {
    font-weight: bold;
}

.btn-save {
    float: right;

}

.secondaries-articles {
   display: flex;
   justify-content: space-between;

   div{
       width: 49%;

       select {
        background-color: transparent;
        width: 100%;
        margin-bottom: 2em;
        height: 40px;
        border-radius: 10px;
        border-color: $secondary-color;
        padding: 10px;
        font-family: "Mulish", sans-serif;
        background-size: 18px;
        -webkit-appearance: none;
        background-repeat: no-repeat;
        background-position: 97% 50%;
        background-image: url(../../images/icones-form/fleche.png);
    }
   }
}